[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"beautifulsoup4" = "*"
tinydb = "*"
"html5lib" = "*"
gunicorn = "*"
maya = "*"
pytest = "*"
flask = "*"
pylint = "*"
selenium = "*"
colorama = "*"


[dev-packages]



[requires]

python_version = "3.x"
