.github-corner svg {
  fill: black;
}

.playground .response {
  max-height: 60vh;
  font-size: 15px;
}
.playground .response code {
  padding-top: 0;
  padding-bottom: 0;
}
.playground .box {
  width: 100%;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  border: 1px solid #EEE;
  box-shadow: 0 0 128px #EEE;
  border-radius: 4px;
}
.playground .box .split-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.playground .box .method {
  padding-right: 1em;
  font-weight: bold;
}
.playground .box input, .playground .editor {
  padding: 0.5em;
  flex: 1;
  font-family: monospace;
  line-height: 1.5;
  border-radius: 4px;
  border: solid 1px #DDD;
  /* border: none;
  border-bottom: solid 1px #DDD; */
  margin-right: 1em;
}
.playground .box .editor {
  max-height: 15em;
  display: block;
  width: 100%;
  margin-top: 1em;
}
.playground .box button:hover {
  background-color: #4abf8a;
}
.playground .box button {
  outline: none;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  color: #fff;
  background-color: #3eaf7c;
  padding: .4rem 1rem;
  border-radius: 4px;
  transition: background-color .1s ease;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #389d70;
}

@media (max-width: 480px) {
  .playground {
    margin: 0 -15%;
  }
  .playground .box .split-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .playground .box input {
    width: 100%;
    flex-shrink: 0;
    margin-right: 0;
    margin-top: 1em;
    order: 1;
  }
}
