.text {
  height: 100%;
}

p.control {
  margin-bottom: 0px !important;
}

input.input, textarea.input{
  font-family: monospace;
}

a.button, input.input, textarea.input{
  height: 100%;
  padding: .5em !important;
  font-size: 1em !important;
}

a.button.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

a.button.right {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

textarea {
  resize: none;
}

textarea.input {
  width: 100%;
}

.noscroll {
  overflow: hidden;
}
