.text {
  height: 100%;
}

p.control {
  margin-bottom: 0px !important;
}

input.input, textarea.input{
  font-family: monospace;
}

.button.is-medium, .input.is-medium, textarea.input{
  height: 100%;
  padding: .5em !important;
  font-size: 1em !important;
}

textarea {
  resize: none;
}

textarea.input {
  width: 100%;
}

.noscroll {
  overflow: hidden;
}
